@model IEnumerable<MomoAndMemeBookingSystem.Models.Masseur>

<div class="container mt-5">
    <h1 class="text-center text-success mb-4">Meet Our Masseurs</h1>
    <div class="row">
        @foreach (var masseur in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <img src="~/images/masseurs/@masseur.Image" class="card-img-top" alt="@masseur.FullName" />
                    <div class="card-body text-center">
                        <h5 class="card-title">@masseur.FullName</h5>
                        <p class="card-text">@masseur.Bio</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
