/* Alapbeállítások */
body {
    background-color: #e1e7b7; /* Világos olive szín */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #556b2f; /* Sötétebb olive szín */
    color: white;
}

    .navbar a {
        color: white !important;
    }

.footer {
    background-color: #556b2f;
    color: white;
    text-align: center;
    padding: 10px;
}

.panda-logo {
    width: 50px;
    height: auto;
}

/* Reszponzív design */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .footer {
        font-size: 14px;
    }
}

.card {
    border: none;
    transition: transform 0.3s ease-in-out;
}

    .card:hover {
        transform: scale(1.05);
    }

.text-success {
    color: #556b2f !important;
}
form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
 form .form-label {
        font-weight: bold;
       color: #556b2f;

 }
  form .btn-success {
        background-color: #556b2f;
        border: none;

  }
form .btn-success:hover {
        background-color: #6b8e23;
 }
.card-header {
    font-weight: bold;
    text-transform: uppercase;
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-body {
    background-color: #f5f5dc;
    padding: 20px;
}

    .card-body label {
        font-weight: bold;
        color: #556b2f;
    }

    .card-body .btn-success {
        background-color: #556b2f;
        border: none;
        transition: background-color 0.3s;
    }

        .card-body .btn-success:hover {
            background-color: #6b8e23;
        }

    .card-body input,
    .card-body select {
        border-radius: 5px;
    }
.card-img-top {
    max-height: 200px; 
    object-fit: scale-down; 
    width: 100%; 
    border-radius: 10px 10px 0 0; 
    display: block; 
    margin: 0 auto; 
}


.card-body h5 {
    font-weight: bold;
    color: #556b2f;
}
